# vim: noai:ft=sh

# ===  Basic  ==================================================================

export VISUAL="nvim"
export EDITOR=$VISUAL

export GPG_TTY=$(tty)

# Git
export REVIEW_BASE=master

# ===  Node  ===================================================================

export NPM_PACKAGES="${HOME}/npm-global"
export NODE_PATH="$NPM_PACKAGES/lib/node_modules:$NODE_PATH"

export PATH="$NPM_PACKAGES/bin:$PATH"
export TERM=xterm-256color

# export VIMPATH=$ZDOTDIR/vim
# export VIMINIT=$ZDOTDIR/vim/.vimrc
export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git --ignore node_modules -g ""'

#===  Go  =====================================================================
export GO_MIGRATE_PORT=5558

export ERL_AFLAGS="-kernel shell_history enabled"
