# vim: noai:ft=sh

# Create a new directory and enter it
md() {
  mkdir -p "$@" && cd "$@"
}

# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}

# find shorthand
ff() {
  find . -name "$1" 2>&1 | grep -v 'Permission denied'
}

ffd() {
  find . -name "$1" -type d 2>&1 | grep -v 'Permission denied'
}
