[submodule "vim"]
	path = vim
	url = https://github.com/rabidpraxis/vim-settings.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "utils/fasd"]
	path = utils/fasd
	url = https://github.com/clvv/fasd.git
[submodule "utils/nvm"]
	path = utils/nvm
	url = https://github.com/creationix/nvm.git
[submodule "utils/rbenv"]
	path = utils/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "utils/ruby-build"]
	path = utils/ruby-build
	url = https://github.com/rbenv/ruby-build.git
